<!DOCTYPE html>
<html lang="en">
    <head>
    <% include ./include/headgold %>
    </head>
    <body>
        <% include ./include/ornamentbg %>
        <script src="/js/returnscan.js"></script>
        <div class="container">
            <div class="textlogo">The Wedding Reception</div>
            <div class="logo">&nbsp;</div>
            <div class="row">
              <% include ./include/header %>
            </div>
            
            <div class="content">
              <div class="content-background"></div>
              
              <div class="content-section">
                <div class="content-header">SELAMAT DATANG</div>
                <div class="content-body">
                <table class="row-space">
                  <tr>
                      <td class="col1">No Registrasi</td>
                      <td class="col2 biggertext"><%= data.guest.regnumber %></td>
                  </tr>
                  <tr>
                    <td class="col1">Nama</td>
                    <td class="col2"><%= data.guest.name %></td>
                  </tr>
                  <tr>
                      <td class="col1">Jumlah Undangan</td>
                      <td class="col2">
                      <% if (data.status === 200) { %>
                        <%= data.guest.num_invited %> Orang 
                      <% } else { %>
                        <%= data.guest.num_invited %>
                      <% } %>
                      </td>
                  </tr>
                  <tr>
                      <td class="col1">Note</td>
                      <td class="col2">
                        <% if (data.status === 200) { %>
                          <%= data.guest.guesttype %>
                        <% } else { %>
                            No Such User
                        <% } %>
                      </td>
                  </tr>
                  <tr>
                      <td class="col1">Status</td>
                      <td class="col2">
                        <% if (data.status === 200) { %>
                          <% if (data.data.id === 'signedin') { %>
                            <span style="color:red;">User Already Signed In</span> 
                          <% } else { %>
                            Sign In Success
                          <%} %>
                        <% } else { %>
                          No Such User
                        <% } %>
                      
                      </td>
                  </tr>
                </table>
                <div class="content-footer">
                  <a href="/scan">scan another</a> &nbsp; | &nbsp;
                  <a href="/guestlistall">guest list</a>
                </div>
              </div>
              </div>
            </div>
          </div>
        <% include ./include/scripts %>
        <% include ./include/footer %>
    </body>
</html>